@model BookKeeper
<header classs="jumbotron text-center">
    <img src ="~/images/Logo.png" class="img-fluid center-block"/>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="img-thumbnail mt-3">
            <img class="imgprofile" src="~/images/profilepic.png" />
            <div class="figure-caption text-center">
                <h5>

                    @*@foreach (BookKeeper)
                    { 
                        
                    }*@
                            </h5>
                <h6>A description should go here.</h6>
                <button class="btn btn-primary">Hire!</button>
                <hr />
                <h6 class="text-right">$60/hr</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="img-thumbnail mt-3">
            <img class="imgprofile" src="~/images/profilepic2.jpg" />
            <div class="figure-caption text-center">
                <h5>Bookkeeper Name</h5>
                <h6>I will keep track of your finances well.</h6>
                <button class="btn btn-primary">Hire!</button>
                <hr />
                <h6 class="text-right">$25/hr</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="img-thumbnail mt-3">
            <img class="imgprofile" src="~/images/profilepic3.jpg" />
            <div class="figure-caption text-center">
                <h5>Bookkeeper Name</h5>
                <h6>I will do a good job of keeping your finances.</h6>
                <button class="btn btn-primary">Hire!</button>
                <hr />
                <h6 class="text-right">$45/hr</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="img-thumbnail mt-3">
            <img class="imgprofile" src="~/images/profilepic4.jpg" />
            <div class="figure-caption text-center">
                <h5>Bookkeeper Name</h5>
                <h6>I am a certified professional.</h6>
                <button class="btn btn-primary">Hire!</button>
                <hr /> 
                <h6 class="text-right">$30/hr</h6>
            </div>
        </div>
    </div>
</div>
        
   