@model BookKeeperListModel
<header classs="jumbotron text-center">
    <img src="~/images/Logo.png" class="img-fluid center-block" />
</header>
@foreach (BookKeeper bookKeeper in Model.Bookkeepers)
{
    <div>
        <div class="col-md-3">
            <div class="img-thumbnail mt-3">
                <img class="imgprofile" src="~/images/profilepic.png" />
                <div class="figure-caption text-center">
                    <h5>@bookKeeper.FirstName @bookKeeper.LastName</h5>
                    <h6>@bookKeeper.PhoneNumber</h6>
                    <button class="btn btn-primary">Hire!</button>
                    <hr />
                    <h6 class="text-right">@bookKeeper.PayRate.ToString("c")/hr</h6>
                </div>
            </div>

        </div>
    </div>
}

