@*List of bookkkeepers*@ 

<header classs="jumbotron text-center">
    <img src ="~/images/Logo.png" class="img-fluid center-block"/>
</header>

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail mt-3">
            <img class="imgprofile" src="~/images/profilepic.png" />
            <div class="figure-caption text-center">
                <h6>Bookkeeper Name</h6>
                <button class="btn btn-primary">Hire!</button>
            </div>
        </div>
    </div>
</div>
        
   